<h2>Welcome to my rails app 🛤 </h2>

<ul>
  <li> <%= link_to "about you", about_path %> </li>
  <li> <%= link_to "contact", contact_path %> </li>
</ul>
<!-- pe + tab -->

<p> Today is <%= Date.today %></p>

<ul>
  <% @memebers.each do |name| %>
    <li><%= name %></li>
  <% end %>
</ul>


<form  action="/contact" method="get">
  <input type="text" name="member" placeholder="the heck you are writing">
  <input type="submit">
</form>
