<h1>All the Restaurants</h1>
<%= link_to 'Create Restaurant', new_restaurant_path %>
<% @restaurants.each do |r| %>
  <h2><%= link_to r.name, restaurant_path(r) %> <%= 'â­ï¸' * r.rating %></h2>
  <p><%= r.address %></p>
  <% end %>
